---
import LayoutHome from "../layouts/LayoutHome.astro";
---

<LayoutHome>
  <article class="container-fluid d-flex justify-content-center align-items-start mt-4">
  <div class="bg-dark text-light p-4 rounded shadow-lg animate__animated animate__fadeInDown" style="max-width: 600px;">
    <h1 class="fs-3 fw-bold text-center">
      Conecte-se aos <span class="text-info">Melhores Talentos</span> Remotos da América Latina com o Gato Freela!
    </h1>
    <p class="mt-3 text-center text-secondary">
      Desenvolva seu negócio de forma rápida e sustentável. Nós conectamos 
      você a milhares de profissionais que falam sua língua e trabalham no seu fuso horário.
    </p>
  </div>
</article>
</LayoutHome>
