---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import "../styles/variables.css";
---

<BaseLayout>
  <h1>Signup Developer</h1>
  <a href="/developer/[username].astro">developer</a>
</BaseLayout>


<style>
  
</style>