---
import LayoutBase from "../layouts/LayoutBase.astro";
import "../styles/global.css";
import "../styles/variables.css";
---

<LayoutBase>
  <h1>Signup Developer</h1>
  <a href="/developer/developer-teste">developer</a>
</LayoutBase>


<style>
  
</style>