<style>
  .pulse {
    animation: pulse 2s infinite;
  }
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }
</style>
<div class="text-center">
  <img src="https://cdn.discordapp.com/attachments/1287429295156760749/1332013603443834982/22_Sem_Titulo_20250123122407.png?ex=6793b5d6&is=67926456&hm=1deef6d6fcd607a38969daff4b04cabb87f70d718034f21a1df5d9ee797119c4&" alt="icon" class="pulse" style="max-width: 100%; height: auto;">
</div>
