---

---

<header>
  <img src="./public/gatofreela.png" alt="Logotipo da Gatofreela" />
  <h1>Gato Freela - Brasil</h1>
</header>

<style>
  header {
    background: var(--purple-700);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
    height: 6rem;
    margin-bottom: 6rem;
  }

  header img {
    height: 6rem;
  }
</style>
