---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/variables.css";
import "../styles/global.css";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Configurações Básicas -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <!-- Ícone do Site -->
    <link
      rel="icon"
      type="image/png"
      href="https://raw.githubusercontent.com/gatofreela/gatofreela.github.io/refs/heads/main/public/gatofreela.png"
    />
    <!-- Título e Básico -->
    <title>Gato Freela - Brasil</title>
    <meta name="theme-color" content="#ce854e">
    <meta name="robots" content="index, follow" />
    <meta
      name="description"
      content="Uma plataforma brasileira que conecta freelancers a clientes de forma ágil, simples e confiável e totalmente de código aberto."
    />
    <meta
      name="keywords"
      content="Gato Freela, freelancing, trabalho remoto, vagas de freelancer, projetos online, plataforma de freelancers, freelance Brasil, serviços online, design, tecnologia, marketing, desenvolvimento web, redatores, criativos, trabalho digital, profissionais autônomos"
    />
    <!-- Open Graph (OG) para Redes Sociais -->
    <meta name="og:title" content="Gato Freela - Brasil" />
    <meta
      name="og:description"
      content="Conecte-se com os melhores freelancers ou encontre projetos incríveis para trabalhar, com foco no mercado brasileiro e código aberto!"
    />
    <meta
      name="og:image"
      content="https://raw.githubusercontent.com/gatofreela/gatofreela.github.io/refs/heads/main/public/gatofreela.png"
    />
    <meta name="og:url" content="https://gatofreela.github.io/" />
    <meta name="og:type" content="website" />
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Gato Freela - Brasil" />
    <meta
      name="twitter:description"
      content="Encontre freelancers talentosos ou publique seus projetos. O Gato Freela é a plataforma ideal para conectar profissionais e clientes no Brasil."
    />
    <meta
      name="twitter:image"
      content="https://raw.githubusercontent.com/gatofreela/gatofreela.github.io/refs/heads/main/public/gatofreela.png"
    />
    <!-- Outras Informações -->
    <meta name="generator" content={Astro.generator} />
    
    <!-- Incluindo Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
   
    <!-- Pré-conexão e Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
   <Header />
   <main class="container-fluid">
    <slot />
   </main>
   <Footer />
  </body>
</html>
